/* This CSS will be converted to tailwind CSS */

.pageContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Component Video Background */
.bgContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #0e0e1d; */
    background-color: rgba(0, 0, 0, .4);
    /* opacity: .5; */
}
/* End - Component Video Background */

.pageElements {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #FF6969; */
    background-color: #ED1755;
    /* background: rgb(237,23,85); */
    /* background: linear-gradient(90deg, rgba(237,23,85,.6) 0%, rgba(237,23,85,.6) 35%, rgba(237,23,85,0.6) 90%); */
}

.mainNavbar {
    height: 80px;
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: #fff;
    position: absolute;
    top: 0;
    /* background-color: rgba(0, 0, 0, .3); */
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
}

.mainMenu {
    display: flex;
    gap: 1.8rem;
}
.mainMenu li{
    
}

.title {
    font-size: 7rem;
    color: #fff;
    font-family: var(--primary-font);
}

.subtitle {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    font-family: var(--secondary-font);
    background: #ed1755;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
}

/* Component About Me */
.aboutMeContainer {
    display: flex;
    gap: 2.5rem;
    padding: 8rem 100px 1rem;
    background-color: #E4DCCF;
}

.aboutMeThumb {
    position: relative;
    width: 45%;
    aspect-ratio: 9/10;
    max-height: 500px;
    border-radius: .6rem;
    overflow: hidden;
}

.aboutMeThumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutMeInfo {
    width: 100%;
}

.aboutMeTitle {
    font-family: var(--primary-font);
    font-size: 2.3rem;
    color: #141414;
    margin-bottom: 1.5rem;
}

.aboutMeParagraph {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: #303030;
    margin-bottom: .5rem;
    line-height: 160%;
}