.mainNavbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
    color: #fff;
}

.logo {
    height: 80px;
    width: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--primary-font);
    margin-right: 30px;
}

.logo img {
    max-height: 100%;
}

.menuMobileButton {
    display: block;
}

.menuDesktop {
    gap: 1.8rem;
    display: none;
}

.menuDesktop li{
    font-family: var(--secondary-font);
    font-weight: 300;
}

@media (min-width: 767px) {
    .mainNavbar {
        padding: 1rem 4rem 0 4rem
    }
}

@media (min-width: 920px) {
    .menuMobileButton {
        display: none;
    }
    .menuDesktop {
        display: flex;
    }
}