.loading_container {
    height: 50%;
    width: 20%;
    position: relative;
    flex-grow: 1;
    font-size: 5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading_container svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative !important;
}

.logoW {
  /* animation: fillLogo 4.23s forwards ease-in-out; */
  animation: fillLogo 8s forwards ease-in-out;
  transform-origin: bottom left;
  animation-iteration-count: 1;
}
  
@keyframes fillLogo {
  from {
      height: 100%;
      
  }
  to {
      height: 0%;
  }
}

.logoCircle {
  position: absolute;
  top: 0;
  left: 0;
  border: 30px solid #C23373;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.logoCircle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.logoCircle:after{
  content: '';
  position: absolute;
  inset: 15px;
  margin: auto;
  background: #0c0c30;
   border-radius: 50%;
}

.logoCircle:before{
  content: '';
  position: absolute;
  inset: 0px;
  margin: auto;
  background: #C23373;
  animation: logoCircleAnimation 8.2s ease-in-out forwards alternate;
}
@keyframes logoCircleAnimation {
  0%  ,10% { transform: translateY(100%) }
  90% , 100% { transform: translateY(0px) }
}
    