.menuMobileWrap {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 6666;
    transform: translate3d(-105%, 0, 0);
}

.menuMobileWrap::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #090d1f;
    opacity: .5;
}

.content {
    height: 100%;
    width: 80%;
    position: relative;
    background-color: #fff;
    z-index: 9999;
    padding: 2rem 2rem;
}


.closeButton {
    display: block;
    margin-bottom: 3rem;
}

.closeButton >:hover {
    transform: rotate(180deg);
    transition: 0.4s ease;
}

.closeButton >:hover *{
    color: #ed1755;
}

.menuList {
    padding-bottom: 1.5rem;
}

.menuList li {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 700;
    color: #090d1f;
    padding-bottom: .6rem;
}

.menuList li:hover {
    transition: .2s;
    color: #ed1755;
}

.openMenu {
    transform: translate3d(0%, 0, 0);
    transition: 0.8s ease;
}

.closeMenu {
    transform: translate3d(-105%, 0, 0);
    transition: 0.8s ease;
}

.bgOverlay {
    height: 100%;
    width: 100%;
    transform: translate3d(0%, 0, 0);
}

.bgOverlayOut {
    transform: translate3d(-105%, 0, 0);
    transition-delay: 0.8s;
}