.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.containerInner {
    width: 100%;
    max-width: 95%;
}

@media (min-width: 767px) {
    .containerInner {
        max-width: 90%;
    }
}

@media (min-width: 920px) {
    .containerInner {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .containerInner {
        max-width: 75%;
    }
}


