
.aboutMeWrap {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 8rem 0 2rem;
    background-color: #FCF5ED;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    gap: 5rem;
}
  
.aboutMeThumb {
    position: relative;
    width: 80%;
    aspect-ratio: 9/10;
    max-height: 500px;
    /* overflow: hidden; */
    display: flex;
    margin: auto;
}

.aboutMeThumb::after {
    content: "";
    height: 90%;
    width: 90%;
    /* margin-left: -100%; */
    /* position: absolute; */
    /* background-color: #ed1755; */
    background-color: #0c1127;
}

.quoteIcon {
    background-color: #ed1755;
    position: absolute;
    right: -30px;
    top: 20%;
    z-index: 999;
    padding: 1rem;
}
  
.aboutMeThumb img {
    margin-top: auto;
    margin-left: auto;
    height: 92% !important;
    width: 92% !important;
    object-fit: cover;
}
  
.aboutMeInfo {
    width: 100%;
}
  
.aboutMeTitle {
    font-family: var(--primary-font);
    font-size: 2.3rem;
    color: #0c1127;
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 1rem;
}

.aboutMeTitle::after {
    content: "";
    height: 7px;
    width: 30%;
    background-color: #ed1755;
    position: absolute;
    bottom: 0;
    left: 0;
}

.aboutMeSubTitle {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: #0c1127;
}

.aboutMeParagraph {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: #757575;
    margin-bottom: .5rem;
    line-height: 160%;
}

@media (min-width: 767px) {
    .aboutMeWrap {
    /* gap: 2.5rem; */
    /* padding: rem 0 2rem; */
    }
    .aboutMe {
        width: 70%;
    }
  

    .aboutMe {
        flex-direction: row;
    }
    .aboutMe {
        width: 55%;
    }

    .aboutMeTitle {
        font-size: 3.5rem;
    }
}

  
@media (min-width: 1360px) {
    .aboutMeTitle {
        font-size: 4.5rem;
    }

}
 